<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <application
        android:allowBackup="true"
        android:label="JH-SUITE"
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity   android:name="cz.jh.suite.MainActivity"
                    android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cz.jh.suite.BanksBurnop" />
        <activity android:name="cz.jh.suite.Bayless" />
        <activity android:name="cz.jh.suite.BaylessRicci" />
        <activity android:name="cz.jh.suite.Bell" />
        <activity android:name="cz.jh.suite.Brown1" />
        <activity android:name="cz.jh.suite.Brown2" />
        <activity android:name="cz.jh.suite.Brown3" />
        <activity android:name="cz.jh.suite.Brown4" />
        <activity android:name="cz.jh.suite.BrownStein" />
        <activity android:name="cz.jh.suite.Cabani" />
        <activity android:name="cz.jh.suite.Clifford1" />
        <activity android:name="cz.jh.suite.Clifford2" />
        <activity android:name="cz.jh.suite.Dick" />
        <activity android:name="cz.jh.suite.Edwards1" />
        <activity android:name="cz.jh.suite.Edwards2" />
        <activity android:name="cz.jh.suite.EigenFuoss1" />
        <activity android:name="cz.jh.suite.EigenFuoss2" />
        <activity android:name="cz.jh.suite.Fuoss" />
        <activity android:name="cz.jh.suite.Hammett1" />
        <activity android:name="cz.jh.suite.Hammett2" />
        <activity android:name="cz.jh.suite.Hancock1" />
        <activity android:name="cz.jh.suite.Hancock2" />
        <activity android:name="cz.jh.suite.Jankowski" />
        <activity android:name="cz.jh.suite.Joback" />
        <activity android:name="cz.jh.suite.Klopman1" />
        <activity android:name="cz.jh.suite.Klopman2" />
        <activity android:name="cz.jh.suite.Marcus" />
        <activity android:name="cz.jh.suite.Mavrovouniotis" />
        <activity android:name="cz.jh.suite.Misono1" />
        <activity android:name="cz.jh.suite.Misono2" />
        <activity android:name="cz.jh.suite.Pauling1" />
        <activity android:name="cz.jh.suite.Pauling2" />
        <activity android:name="cz.jh.suite.PCM" />
        <activity android:name="cz.jh.suite.Pedley" />
        <activity android:name="cz.jh.suite.Polymer" />
        <activity android:name="cz.jh.suite.Ricci" />
        <activity android:name="cz.jh.suite.Sanderson" />
        <activity android:name="cz.jh.suite.Simamora" />
        <activity android:name="cz.jh.suite.Yamada" />
        <activity android:name="cz.jh.suite.Yingst" />
        <activity android:name="cz.jh.suite.Zhou" />
        <activity android:name="cz.jh.suite.Zuman1" />
        <activity android:name="cz.jh.suite.Zuman2" />
        <activity android:name="cz.jh.suite.Zuman3" />
        <activity android:name="cz.jh.suite.Zuman4" />
        <activity android:name="cz.jh.suite.Zuman5" />
        <activity android:name="cz.jh.suite.Zuman6" />
        <activity android:name="cz.jh.suite.Zuman7" />
        <activity android:name="cz.jh.suite.CodeBanksBurnop" />
        <activity android:name="cz.jh.suite.CodeBayless" />
        <activity android:name="cz.jh.suite.CodeBaylessRicci" />
        <activity android:name="cz.jh.suite.CodeBell" />
        <activity android:name="cz.jh.suite.CodeBrown1" />
        <activity android:name="cz.jh.suite.CodeBrown2" />
        <activity android:name="cz.jh.suite.CodeBrown3" />
        <activity android:name="cz.jh.suite.CodeBrown4" />
        <activity android:name="cz.jh.suite.CodeBrownStein" />
        <activity android:name="cz.jh.suite.CodeCabani" />
        <activity android:name="cz.jh.suite.CodeClifford1" />
        <activity android:name="cz.jh.suite.CodeClifford2" />
        <activity android:name="cz.jh.suite.CodeDick" />
        <activity android:name="cz.jh.suite.CodeEdwards1" />
        <activity android:name="cz.jh.suite.CodeEdwards2" />
        <activity android:name="cz.jh.suite.CodeEigenFuoss1" />
        <activity android:name="cz.jh.suite.CodeEigenFuoss2" />
        <activity android:name="cz.jh.suite.CodeFuoss" />
        <activity android:name="cz.jh.suite.CodeHammett1" />
        <activity android:name="cz.jh.suite.CodeHammett2" />
        <activity android:name="cz.jh.suite.CodeHancock1" />
        <activity android:name="cz.jh.suite.CodeHancock2" />
        <activity android:name="cz.jh.suite.CodeJankowski" />
        <activity android:name="cz.jh.suite.CodeJoback" />
        <activity android:name="cz.jh.suite.CodeKlopman1" />
        <activity android:name="cz.jh.suite.CodeKlopman2" />
        <activity android:name="cz.jh.suite.CodeMarcus" />
        <activity android:name="cz.jh.suite.CodeMavrovouniotis" />
        <activity android:name="cz.jh.suite.CodeMisono1" />
        <activity android:name="cz.jh.suite.CodeMisono2" />
        <activity android:name="cz.jh.suite.CodePauling1" />
        <activity android:name="cz.jh.suite.CodePauling2" />
        <activity android:name="cz.jh.suite.CodePCM" />
        <activity android:name="cz.jh.suite.CodePedley" />
        <activity android:name="cz.jh.suite.CodePolymer" />
        <activity android:name="cz.jh.suite.CodeRicci" />
        <activity android:name="cz.jh.suite.CodeSanderson" />
        <activity android:name="cz.jh.suite.CodeSimamora" />
        <activity android:name="cz.jh.suite.CodeYamada" />
        <activity android:name="cz.jh.suite.CodeYingst" />
        <activity android:name="cz.jh.suite.CodeZhou" />
        <activity android:name="cz.jh.suite.CodeZuman1" />
        <activity android:name="cz.jh.suite.CodeZuman2" />
        <activity android:name="cz.jh.suite.CodeZuman3" />
        <activity android:name="cz.jh.suite.CodeZuman4" />
        <activity android:name="cz.jh.suite.CodeZuman5" />
        <activity android:name="cz.jh.suite.CodeZuman6" />
        <activity android:name="cz.jh.suite.CodeZuman7" />
        <activity android:name="cz.jh.suite.ParmsBanksBurnop" />
        <activity android:name="cz.jh.suite.ParmsBayless" />
        <activity android:name="cz.jh.suite.ParmsBaylessRicci" />
        <activity android:name="cz.jh.suite.ParmsBell" />
        <activity android:name="cz.jh.suite.ParmsBrown1" />
        <activity android:name="cz.jh.suite.ParmsBrown2" />
        <activity android:name="cz.jh.suite.ParmsBrown3" />
        <activity android:name="cz.jh.suite.ParmsBrown4" />
        <activity android:name="cz.jh.suite.ParmsBrownStein" />
        <activity android:name="cz.jh.suite.ParmsCabani" />
        <activity android:name="cz.jh.suite.ParmsClifford1" />
        <activity android:name="cz.jh.suite.ParmsClifford2" />
        <activity android:name="cz.jh.suite.ParmsDick" />
        <activity android:name="cz.jh.suite.ParmsEdwards1" />
        <activity android:name="cz.jh.suite.ParmsEdwards2" />
        <activity android:name="cz.jh.suite.ParmsEigenFuoss1" />
        <activity android:name="cz.jh.suite.ParmsEigenFuoss2" />
        <activity android:name="cz.jh.suite.ParmsFuoss" />
        <activity android:name="cz.jh.suite.ParmsHammett1" />
        <activity android:name="cz.jh.suite.ParmsHammett2" />
        <activity android:name="cz.jh.suite.ParmsHancock1" />
        <activity android:name="cz.jh.suite.ParmsHancock2" />
        <activity android:name="cz.jh.suite.ParmsJankowski" />
        <activity android:name="cz.jh.suite.ParmsJoback" />
        <activity android:name="cz.jh.suite.ParmsKlopman1" />
        <activity android:name="cz.jh.suite.ParmsKlopman2" />
        <activity android:name="cz.jh.suite.ParmsMarcus" />
        <activity android:name="cz.jh.suite.ParmsMavrovouniotis" />
        <activity android:name="cz.jh.suite.ParmsMisono1" />
        <activity android:name="cz.jh.suite.ParmsMisono2" />
        <activity android:name="cz.jh.suite.ParmsPauling1" />
        <activity android:name="cz.jh.suite.ParmsPauling2" />
        <activity android:name="cz.jh.suite.ParmsPCM" />
        <activity android:name="cz.jh.suite.ParmsPedley" />
        <activity android:name="cz.jh.suite.ParmsPolymer" />
        <activity android:name="cz.jh.suite.ParmsRicci" />
        <activity android:name="cz.jh.suite.ParmsSanderson" />
        <activity android:name="cz.jh.suite.ParmsSimamora" />
        <activity android:name="cz.jh.suite.ParmsYamada" />
        <activity android:name="cz.jh.suite.ParmsYingst" />
        <activity android:name="cz.jh.suite.ParmsZhou" />
        <activity android:name="cz.jh.suite.ParmsZuman1" />
        <activity android:name="cz.jh.suite.ParmsZuman2" />
        <activity android:name="cz.jh.suite.ParmsZuman3" />
        <activity android:name="cz.jh.suite.ParmsZuman4" />
        <activity android:name="cz.jh.suite.ParmsZuman5" />
        <activity android:name="cz.jh.suite.ParmsZuman6" />
        <activity android:name="cz.jh.suite.ParmsZuman7" />
        <activity android:name="cz.jh.suite.Manual" />
    </application>

</manifest>